*{
    box-sizing: border-box;
}
body{
margin: 0px;
}
.welcome{
    width: 100%;
    height: 100px;
    background-color: rgb(156,120,211);
    margin: 0px;
}
.nav{
    width: 25%;
    margin-left: auto;
    display: flex;
    height: 50px ;
    position: relative;
    top: 50px;
    justify-content: space-between;
}

.certificat{
    height: 50px;
    width: 180px;
    background-color: rgb(179,166,223, 0.6);
    border-radius: 20px 20px 0px 0px;
}
li{
    list-style-type: none;
    margin-top: 3px;
    background-color:rgb(156,120,211, 0.7);
    border-radius: 3px;
}
.cer-img{
    display: none;
    margin-top: 53px;
}
.cer-img   a{
    display: block;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: white;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.certificat h3{
    text-align: center;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.photo{
    margin-top: 100px;
    width: 90%;
    margin-left: 100px;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
 
}
.portret{
    width: 350px;
}
.portret img{
    width: 350px;
    border-radius: 50%;
    border: 5px solid rgb(179,166,223, 0.6);
}
.hi{
    width: 46%;
    margin-left: 150px;
}
.hi h3{
    color: rgb(65, 64, 64);
    font-style: italic;
}
h1{
    color: rgb(40, 40, 40);
}
h2{
    margin: 0px;
    width: auto;
}
h3{
    color: grey;
    margin: 0px;
}
h4{
    color: grey;
}
.diplom{
    height: 50px;
    width: 180px;
    background-color: rgb(179,166,223, 0.6);
    border-radius: 20px 20px 0px 0px;
    margin-left: 5px;
    
}
.german-course{
    display: flex;
}
.horizont-linia{
    width: 50px;
    background-color: rgb(179,166,223, 0.3);
    height: 5px;
}
.studing h1{
    margin-left: 50px;
}
.diplom h3{
    text-align: center;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
    margin:auto; 
    position: absolute;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.dipl-img{
    display: none;
    margin-top: 53px;
}
.dipl-img  a{
    display: block;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: white;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.link{
    height: 50px;
    width: 160px;
    background-color: rgb(179,166,223, 0.6);
    border-radius: 7px 7px 0px 0px;
    position: relative;
    margin-left: 5px;
}
.link-img{
    display: none;
    margin-top: 53px;
}
.link   a{
    display: block;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: white;
}
.link h3{
    text-align: center;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 0px;
    position: absolute;
    bottom: 0;
}
.cv{
    width: 80%;
    margin: 100px auto 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.experience{
    width: 40%;
}
.experience h1{
    color: rgb(40, 40, 40);
    text-align: right;
    margin-right: 50px;
}
.info{
    width: 100%;
}
.info-js{
    width: 100%;
}
.info-html{
    width: 100%;
}
.info-uni{
    width: 100%;
}
.col-info{
    width: 100%;
}
.insurance{
    display: flex;
}
.insurance h2{
    color: rgb(40, 40, 40);
    text-align: right;
}
.insurance h4{
    text-align: right;
    color: gray;
}
.insurance h3{
    text-align: right;
}
.linia{
    width: 5px;
    height: auto;
    background-color: rgb(156,120,211, 0.6);
}
.SANATORIUM-info{
    width: 100%;
}
.insurance-info{
    width: 100%;
}
.SANATORIUM{
    margin-top: 100px;
    display: flex;
}
.SANATORIUM h2{
    color: rgb(40, 40, 40);
    text-align: right;
}
.SANATORIUM h3{
    text-align: right;
}
.SANATORIUM h4{
    text-align: right;
    color: gray;
}
.studing{
    width: 40%;
}
footer{
    background-color: rgb(156,120,211);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.it-js{
    margin-top: 100px;
    display: flex;
}
.it-html{
    margin-top: 100px;
    display: flex;
}
.uni{
    margin-top: 100px;
    display: flex;
}
.col{
    margin-top: 100px;
    display: flex;
}
.contact{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between; 
}
.phone{
    display: flex;
    width: auto;
}
.emoji img{
    width: 35px;
    height: 35px;
}
.number{
    color: white;
    align-items: baseline;
    font-size: 20px;
    margin: auto;
}
.phone img{
    width: 35px;
    height: 35px;
}
.linkedin img{
    width: 40px;
    height: 40px;
}
.github img{
    width: 40px;
    height: 40px;
}
.mail{
    display: flex;
    width: auto;
}
.emoji-mail img{
    width: 35px;
    height: 35px;
}
.emoji-mail{
    margin: auto;
}
.email{
    color: white;
    font-size: 18px;
    padding-left: 5px;
    letter-spacing: 1px;
    margin: auto;
}
.adres{
    color: white;
    font-size: 18px;
    padding-left: 5px;
    letter-spacing: 1px;
    margin: auto;
    padding-left: 5px;
}
.house{
    color: white;
    width: auto;
    font-size: 18px;
    margin-left: 5px;
    padding-top: 6px;
}
.house{
    display: flex;
}
.emoji-house{
    margin: auto;
}
.emoji-house img{
    width: 35px;
    height: 35px;
}
.emoji{
    margin: auto;
}
.skils{
    width: 90%;
    margin: 100px auto 150px auto;
}
.skils h1{
    text-align: center;
}
.list{
    width: 80%;
    display: flex;
    margin: auto;
}
.list-one{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.list-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.creative{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.creative p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.communication{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.communication p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.flexible{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.flexible p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.decision{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.decision p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.empathy{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.empathy p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.team{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.team p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.emotional{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.emotional p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.critical{
    width: 90%;
    background-color: rgb(156,120,211, 0.8);
    border-radius: 8px;
    margin-top: 20px;
    height: 50px;
    box-shadow: 1px 2px 2px rgb(156,120,211);
}
.critical p{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 0;
}
.project{
    width: 90%;
    margin: auto;
}
.project h1{
    background-color: white;
    text-align: center;
} 
.site-one{
    width: 80%;
    margin: auto;
}
.site-one  h5{
    font-size: 23px;
    color: rgb(34, 33, 33);
}
.site-two{
    width: 80%;
    margin: auto;
}
.site-two  h5{
    font-size: 23px;
    color: rgb(34, 33, 33);
}
a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .creative p, .communication p, .flexible p, .decision p, .empathy p, .team p, .emotional p, .critical p {
        font-size: 15px;
    }
    .experience h1{
        font-size: 18px;
    }
    .studing h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
    h4{
        font-size: 13px;
    }
    .horizont-linia{
        width: 30px;
    }
    .project h1{
        font-size: 20px;
    }
    .hi h1{
        font-size: 20px;
    }
    .site-one h5{
        font-size: 15px;
    }
    .site-two h5{
        font-size: 15px;
    }
    footer {
        flex-direction: column;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .contact{
        width: auto;
        flex-direction: column;
    }
    .photo img{
        width: 200px;
    }
    .photo {
        margin-top: 30px;
        display: block;
        margin-left: 30px;
    }
    .hi{
        width: auto;
        margin: auto;
    }
    .hi h3{
        width: 85%;
    }
    .nav{
        margin-left: 0px;
        width: 100%;
        justify-content: center;
    }
    .certificat{
        width: 40%;
    }
    .diplom{
        width: 40%;
    }
    .empathy{
        margin-top: 0px;
    }
    .skils h1{
        font-size: 20px;
    }
    .skils{
        margin: 100px auto 100px auto;
    }
    .social{
        width: auto;
        justify-content: start;
    }
    .house{
        width: 50%;
        margin: auto;
    }
    .phone{
        width: 50%;
        margin: auto;
    }
    .emoji{
        margin: 0px;
    }
    .mail{
        width: 70%;
        margin: auto;
    }
    .github{
        width: 10%;
        margin: auto;
    }
    .linkedin{
        width: 10%;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .creative p, .communication p, .flexible p, .decision p, .empathy p, .team p, .emotional p, .critical p {
        font-size: 12px; 
    }
}
